.Products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.ProductsPaginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;

}
